@import "~bootstrap";

body {
    background-color: lightgray;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: #a92727;
}
.page-wrapper > .container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-login {
    width: 50%;
    max-width: 50%;
}
.card-login > .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-login > .card-body {
    min-height: 242px;
}
