@import "~bootstrap";

body {
    background-color: lightgray;
}
a {
    text-decoration: none;
    color: rgb(80, 80, 80)
}
a.underline{
    text-decoration: underline;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: #a92727;
}
.page-wrapper > .container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.treasure-container .card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.card-wrapper > * {
    flex: 1 1 0;
}
.card-info > .card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-info > .card-body > div {
    flex: 1 1 auto;
    text-align: center;
}
.card-info > .card-body > div.user {
    border-bottom: 1px solid rgba(0,0,0,.2);
    height: 30%;
}
.card-info > .card-body > div:last-child {
    height: 70%;
}

