{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-wrapper">
        <div class="container">
            <div class="card card-login">
                <img src="{{ asset('build/images/treasure-min.jpg') }}" class="card-img-top card-image" alt="...">
                <div class="card-body">
                    <div {{ react_component('LoginForm', {}) }}></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}