{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-wrapper">
        <div class="container">
            <div {{ react_component('TreasureConnectApp', {
                'user': userData,
                'tokens': app.user ? app.user.validTokenStrings : null
            }) }} class="treasure-container w-100"></div>
        </div>
    </div>

{% endblock %}